<%- include ('partials/_header') %>
<%- include ('partials/_nav') %>
    <main>
        <div class="container-fluid d-flex align-items-center justify-content-center vh-100">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-md-12 text-white">
                    <!--VER-->
                    <div>
                        <h2><%= task.nombre %></h2>

                        <div class="mb-3">
                            <label class="form-label">CLP $ <%= task.precio %></label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Categoria: <%= task.categoria %></label>
                        </div>
                        <div class="mb-3">
                            <%= task.imagen %>
                            <img style="width: 10rem;" src="" alt="¡Plop!">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Descripcion: <%= task.descripcion %></label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
<%- include ('partials/_footer') %>